
.form-login {
    margin-top:20px;
    .row {
        .col-md-5 {
            h1 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color:rgb(24, 24, 24);
                font-weight: 600;
                font-size: 45px;
                span {
                    color:rgb(44, 44, 44);
                    font-weight: bold;
                }
            }
            form {
                margin-top:110px;
                .form-group {
                    font-weight: 500;
                }

                button {
                    
                    border:none;
                    border-radius:8px;
                    color:white;
                    font-weight: bold;
                }
                .btn-login {
                    background-color: #2E8F9E;
                }
    
                .btn-facebook {
                    background-color: blue;
                }
                .btn-google {
                    background-color: red;
                }
                p {
                    font-weight: 500;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .form-login {
        // margin-top: 0px;
        .row {
            .col-md-5 {
                img {
                    display: none;
                }
                form {
                    margin-top:30px;
                }
            }
        }
    }
}