

.form-register {
    background: linear-gradient(#122484,#7082F1);
    form {
        background-color:white;
        border-radius: 10px;
        .form-group {
            font-weight: 500;
        }
        button {
            background-color: #6037E8;
            color:white;
            border:none;
            border-radius:8px;
            font-weight: 600;
        }
        font-weight: 400;
    }
}